/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
.env

#git rm --cached -r folder_parent/folder_child
#git add .
app/Http/Controllers/deanlief_delete_listing
app/Http/Controllers/deanlief_search_listing
packages/Project/
